
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand' ,sans-serif;
}

.html {
    scroll-behavior: smooth;
}

.container{
    justify-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
}

/*index*/
.main{
    min-height: 100vh;
    background-color: rrgb(0, 0, 0)
}

.logo{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

    color: #f2f2f2;
    font-family: 'Segoe UI', light;
}

.banner{
    width: 100%;
    height: 105vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background.gif);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: fixed;
}

.navigation{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navigation > div > label{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.navigation > div > a:link, a:visited{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navigation > div > a:hover{
    color: rgb(97, 25, 25, 0.75);
    font-size: 20px;
    font-weight: 600;
}

.about-me{
    min-height: 100vh;
    color: white;

    background-color: #e73434;
    background-image: linear-gradient(rgba(97, 25, 25, 0.75),rgba(97, 25, 25, 0.75));
}

#about-metext{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    padding-bottom: 50px;

    flex-basis: 40%;
    border-radius: 20px;
    background-color: transparent;
}

#about-metext>h1{
    font-size: 4em;
}

#about-metext>p{
    font-size: 1.05em;
}

.contact-me{
    min-height: 100vh;
    color: white;

    background-color: #349fe7;
    background-image: linear-gradient(rgba(55, 125, 158, 0.75),rgba(55, 125, 158, 0.75));
}

#contact-metext{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    padding-bottom: 50px;

    flex-basis: 40%;
    border-radius: 20px;
    background-color: transparent;
}

#contact-metext>h1{
    font-size: 4em;
}

#contact-metext>p{
    font-size: 1.05em;
}

/* Contact page */

body{
    width: 100%;
    height: 80vh;
}

.contact-navigation{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contact-navigation > div > label{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.contact-navigation > div > a:link, a:visited{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navigation > div > a:hover{
    color: rgb(97, 25, 25, 0.75);
    font-size: 20px;
    font-weight: 600;
}

.contact-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89.5%;
    height: 100%;
    padding: 20px 100px;
}

.contact-container:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/background.gif") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
    height: 100%;
    background: url("images/background.gif") center;
    background-size: cover;
}

.right{
    padding: 25px 50px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}

.area{
    min-height: 100px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        height: 200px;
    }
}